*{
    box-sizing: border-box;
}
body{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
ul{
    padding: 0px;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
}

/** HEADER **/
header{
    background-color: black;
    margin: 15px;
    border-radius: 15px;
    padding: 10px;
}
header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav ul{
    display: flex;
    margin: 0px 20px;
}
header nav li{
    font-family: "Hind siliguri", sans-serif;
    font-size: 25px;
    margin: 10px;
    color: pink;
}
#logotheSS{
    height: 8%;
    width: 8%;
    margin: 0px 15px;
}

nav a {
    text-decoration: none;
    color: white; 
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline; 
}

/**HEADER**/

/**FOOTER**/
footer{
    height: 90px;
    border-radius: 15px;
    background-color: black;
    margin: 15px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.ul-footer{
    display: flex;
    justify-content: center;
}
.footerlist{
    margin: 0px 10px;
    font-family: "Hind siliguri", sans-serif;
    font-size: 18px;
    color: white;
    display: flex;
    align-items: center;
}
/**FOOTER**/

/**HOME**/
/* Estilos para los elementos de la clase "padre-articulos" */

.padre-articulos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    background-color: rgb(103, 93, 103);
    margin: 15px;
    border-radius: 15px;
    padding: 10px;


}

/* Estilos para las secciones con clase "section-home" */
/* Estilos para las secciones con clase "section-home" */
.section-home {
    width: 33%; 
    margin-bottom: 20px; /* Espacio entre las secciones */
    display: inline; /* Hacer que cada sección quede una debajo de la otra */
}


/* Estilos para los títulos con clase "titulo-section" */
.titulo-section {
    font-size: 24px;
    color: white;
}

/* Estilos para los artículos con clase "article-home" */
.article-home {
    background-color: #f7f7f7;
    padding: 20px;
    margin: 10px 0;
    border: 1px solid #ddd;
    flex-direction: row;
}

/* Estilos para las imágenes dentro de los artículos */
.article-home img {
    max-width: 200px;
    height: 300px;
}

.article-home h3 {
    font-size: 18px;
    color: #333;
    margin-top: 10px;
}
.article-home p {
    font-size: 14px;
    color: #777;
}
/**HOME**/

/**GENEROS**/
/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: black;
}



/* Estilos para las secciones de categoría */
.genero-section {
    background-color: #fff;
    border: 1px solid #ddd;
    margin-bottom: 20px;
    padding: 20px;

    background-color: rgb(103, 93, 103);
    margin: 15px;
    border-radius: 15px;
    padding: 10px;
}

.genero-section h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

/* Estilos para la lista de categoría */
.genero-list {
    list-style: none;
    padding: 0;
}

.genero-list li {
    margin-bottom: 10px;
}

.genero-list a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

/**GENEROS**/


/**FAVORITOS**/

.favorite-section{
    background-color: #fff;
    border: 1px solid #ddd;
    margin-bottom: 20px;
    padding: 20px;

    background-color: rgb(103, 93, 103);
    margin: 15px;
    border-radius: 15px;
    padding: 10px;
}

section img {
    max-width: 400px;
    height: 500px;
}



/**FAVORITOS(falta igual)**/

/**DETALLE SERIES**/
