*{
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: black;
}
ul{
    padding: 0px;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
}

/** HEADER **/
header{
    background-color: black;
    margin: 15px;
    border-radius: 15px;
    padding: 10px;
}
header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav ul{
    display: flex;
    margin: 0px 20px;
}
header nav li{
    font-family: "Hind siliguri", sans-serif;
    font-size: 25px;
    margin: 10px;
    color: pink;
}
.logotheSS{
    height: 8%;
    width: 8%;
    margin: 0px 15px;
}
nav a {
    text-decoration: none;
    color: white; 
    font-weight: bold;
}
nav a:hover {
    text-decoration: underline; 
}
/**HEADER**/

/**FOOTER**/
footer{
    height: 90px;
    border-radius: 15px;
    background-color: black;
    margin: 15px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.ul-footer{
    display: flex;
    justify-content: center;
}
.footerlist{
    margin: 0px 10px;
    font-family: "Hind siliguri", sans-serif;
    font-size: 18px;
    color: white;
    display: flex;
    align-items: center;
}
.logo-api{
    margin:15px;
    align-items: center;
    display: flex;
    width: 150px;
    align-items: last baseline;
}
/**FOOTER**/

/**HOME**/
.padre-articulos {
    background-color: rgb(103, 93, 103);
    margin: 15px;
    border-radius: 15px;
    padding: 10px;
}
.titulo-section {
    font-size: 24px;
    color: white;
    margin: 15px;
}
.section-home {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row; 
    margin-bottom: 20px; 
}
.article-home {
    background-color: #f7f7f7;
    padding: 20px;
    margin: 10px;
    border: 1px solid #ddd;
    flex-direction: row;
}
.article-home img {
    max-width: 200px;
    height: 300px;
}
.article-home h3 {
    font-size: 18px;
    color: #333;
    margin-top: 10px;
}
.article-home p {
    font-size: 14px;
    color: #777;
}
/**HOME**/

/**GENEROS**/
/* Estilos generales */
.genero-section {
    background-color: #fff;
    border: 1px solid #ddd;
    margin-bottom: 20px;
    padding: 20px;

    background-color: rgb(103, 93, 103);
    margin: 15px;
    border-radius: 15px;
    padding: 10px;
}


.genero-section-tv {
    background-color: #fff;
    border: 1px solid #ddd;
    margin-bottom: 20px;
    padding: 20px;

    background-color: rgb(103, 93, 103);
    margin: 15px;
    border-radius: 15px;
    padding: 10px;
}


/* Estilos para la lista de categoría */
.genero-list {
    list-style: none;
    padding: 0;
}
.genero-list li {
    margin-bottom: 10px;
}
.genero-list a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}
/**GENEROS**/


/**FAVORITOS**/
.padre-articulos-fav {
    background-color: rgb(103, 93, 103);
    margin: 15px;
    border-radius: 15px;
    padding: 10px;
}
.titulo-section-fav {
    font-size: 24px;
    color: white;
}
.section-fav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row; 
    margin-bottom: 20px; 
}
.article-fav {
    background-color: #f7f7f7;
    padding: 20px;
    margin: 10px 0;
    border: 1px solid #ddd;
    flex-direction: row;
}
.article-fav img {
    max-width: 200px;
    height: 300px;
}
.article-fav h3 {
    font-size: 18px;
    color: #333;
    margin-top: 10px;
}
.article-fav p {
    font-size: 14px;
    color: #777;
}
/**FAVORITOS(falta igual)**/

/**DETALLE SERIES**/
.section-detalle-serie{
    background-color: #fff;
    border: 1px solid #ddd;
    margin-bottom: 20px;
    padding: 20px;

    background-color: rgb(103, 93, 103);
    margin: 15px;
    border-radius: 15px;
    padding: 10px;
}
/**DETALLE SERIES**/

/**DETALLE MOVIE**/
.section-detalle-movie{
    background-color: #fff;
    border: 1px solid #ddd;
    margin-bottom: 20px;
    padding: 20px;

    background-color: rgb(103, 93, 103);
    margin: 15px;
    border-radius: 15px;
    padding: 10px;
}
/**DETALLE MOVIE**/

/**DETALLE GENEROS**/
.section-detalle-generos{
    display: flex;
    background-color: #fff;
    border: 1px solid #ddd;
    margin-bottom: 20px;
    padding: 20px;

    background-color: rgb(103, 93, 103);
    margin: 15px;
    border-radius: 15px;
    padding: 10px;

}


.tit-detalle-genero {
    font-size: 28px;
    margin: 15px;

}

.section-detalle-generos {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    margin: 15px;
    padding: 10px;
}

.art-detalle-genero{
    width: 48%;
    background-color: #fff;
    margin: 15px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.art-detalle-genero h2 {
    font-size: 20px;
    text-align: center;
    margin: 10px 0;
}

.art-detalle-genero img {
    max-width: 100%;
    height: auto;
    display: flex;
    margin: 15px;
}

/**DETALLE GENEROS**/


/**SEARCH-RESULTS**/
.padre-articulos-search {
    background-color: rgb(103, 93, 103);
    margin: 15px;
    border-radius: 15px;
    padding: 10px;
}
.titulo-section-search {
    font-size: 24px;
    color: white;
}
.section-search {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row; 
    margin-bottom: 20px; 
}
.article-search {
    background-color: #f7f7f7;
    padding: 20px;
    margin: 10px 0;
    border: 1px solid #ddd;
    flex-direction: row;
}
.article-search img {
    max-width: 200px;
    height: 300px;
}
.article-search h3 {
    font-size: 18px;
    color: #333;
    margin-top: 10px;
}
.article-search p {
    font-size: 14px;
    color: #777;
}
/**SEARCH-RESULTS**/

/**DETALLE MOVIES **/
.section-detalle-movie {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row; 
    margin-bottom: 20px; 
}
.article-detalle-movie img{
    background-color: #f7f7f7;
    padding: 20px;
    margin: 10px 0;
    border: 1px solid #ddd;
    flex-direction: row;
    max-width: 200px;
    height: 300px;
}
.article-detalle-movie h2 {
    font-size: 24px;
    color:white;
}
/**DETALLE MOVIES **/

/**DETALLE SERIE **/
.section-detalle-serie{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row; 
    margin-bottom: 20px;  
}
.article-detalle-serie img {
    background-color: #f7f7f7;
    padding: 20px;
    margin: 10px 0;
    border: 1px solid #ddd;
    flex-direction: row;
    max-width: 200px;
    height: 300px;
}
.article-detalle-serie h2 {
    font-size: 24px;
    color:white;
}
/**DETALLE SERIE **/

/**MEDIA QUERIES**/
@media (max-width: 420px) {
    header {
        flex-direction: column;
        margin: 0%;
    }
    header nav ul {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    header nav li {
        font-size: 20px;
        margin: 5px;
    }
    .logotheSS {
      width: fit-content;
    } 
    .section-home {
        flex-direction: column;
    }
    .article-home {
        width: 100%;
    }
    .article-home img {
        max-width: 100%;
        height: auto;
    }
}
@media (max-width: 768px) {
    header {
        flex-direction: column;
        margin: 0%;
    }
    header nav ul {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    header nav li {
        font-size: 20px;
        margin: 5px;
    }
    .logotheSS {
      width: fit-content;
    } 
    .section-home {
        flex-direction: column;
    }
    .article-home {
        width: 100%;
    }
    .article-home img {
        max-width: 100%;
        height: auto;
    }
}
/**MEDIA QUERIES**/




